/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;

}



/******************************************
/* LAYOUT
/*******************************************/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img{
  display: block;
  width: 80vw;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
