/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: inline-block;
  margin: 0px 10px;
  height: 30px;

  
}



button {
  background-color: rgb(0, 119, 141);
  
  border: none;
}

body {
  padding: 0px 20px;
  color: rgb(171, 171, 171);
  background-color: rgb(0, 33, 39);
  font-size: 1.2rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 font-family: arial, sans-serif;
}

h2 {
  margin: 0;
}
input {
  color: rgb(148, 148, 148);
  background-color: rgb(0, 33, 39);
  border: 1px solid;
  margin-bottom: 0px;

}

section {
  border: 1px solid rgb(97, 97, 97);
  padding: 10px;
  width: 300px;
  padding-top: 0;
}

.topCoin {
  float: left;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 800px;
  margin-bottom: 50px;
  margin: 50px auto;
}

td, th {
  border: 1px solid rgb(97, 97, 97);
  text-align: left;
  padding: 8px;
  
}

.name {
  width: 150px; 
}
/* .ticker {
  width: 70px;
}
.price {
  width: ;
} */

.center {
  display: flex;
  align-items: center;
  border: none;
  border: 1px solid rgb(97, 97, 97);
  border-top: none;
  border-left: none;
  border-right: none;

 

}

tr:nth-child(even) {
  /* background-color: #dddddd; */
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
