/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  height: 200px;
}

body {
  padding: 0px 20px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
