/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  padding: 20px;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 90vw;
}

iframe {
  display: block;
  margin: 0 auto;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
