/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  display: flex;
  height: 100dvh;
  justify-content: center;
  align-items: center;
}
img {
  display: block;
  max-width: 80dvw;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
